@import "../../style/_variables.scss";

.basket {
  display: flex;
  .basket-main {
    display: flex;
    justify-content: center;
    width: 100%;
    h4 {
      margin: 10px 30px;
    }

    .products {
      display: flex;
      justify-content: space-around;
      align-items: center;
      box-shadow: 0px 4px 16px rgba(16, 30, 115, 0.08);
      margin: 30px;
      .product-image {
        height: 300px;
        width: 250px;
        margin: 30px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
      .product-text {
        width: 60%;
        span {
          color: $mainColor;
          font-weight: bold;
        }
      }
    }
    .basket-buy-button {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      margin: 30px;
      .totalAmount {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: initial;
        position: sticky;
        top: 10%;
        button {
          border: none;
          outline: none;
          background-color: $mainColor;
          color: white;
          text-transform: uppercase;
          padding: 10px 30px;
          transition: 0.3s;
          border-radius: 10px;
          &:hover {
            background-color: #ff9494;
          }
        }
        table {
          margin-top: 40px;
          tr {
            td {
              border: 1px solid black;
              width: 50%;
              padding: 10px;
            }
            &:last-child {
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}
