@import "../../style/_variables.scss";

header {
  .header-up-container {
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: center;

    .header-up {
      display: flex;
      justify-content: space-between;
      .header-up-left {
        display: flex;
        .dropdown {
          padding: 5px 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            font-size: 12px;
          }
          img {
            margin-right: 5px;
          }
        }
        .currency {
          padding: 5px 10px;
          border-left: 1px solid lightgray;
          border-right: 1px solid lightgray;
          display: flex;
          justify-content: center;
          align-items: center;
          span {
            font-size: 12px;
          }
        }
        .number {
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 5px 10px;
          border-right: 1px solid lightgray;
          span {
            font-size: 12px;
          }
        }
      }
      .header-up-right {
        display: flex;
        justify-content: center;

        .header-up-text {
          padding: 5px 10px;
          &:nth-child(2),
          &:nth-child(4) {
            border-left: 1px solid lightgray;
            border-right: 1px solid lightgray;
          }
          span {
            font-size: 14px;
          }
        }
      }
    }
  }
  .logo-search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .logo-search {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .wishList {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .MuiSvgIcon-root {
          color: #ff6666;
        }
      }
    }
  }
  .menu {
    background-color: #ff6666;
  }
}

.container {
  width: $maxWidth;
}
