@import "../../style/_variables.scss";

.loading {
  width: 100%;
  height: 100vh;
  background-color: $mainColor;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
}
